<style>
div.full-width {position:relative;width:100%;left: 0px;top:100px;float:center;}
@media screen
and (min-width: 1051px), screen and (min-device-width:851) {
div.video {position:static;float:left;padding:5px;width:30%;}
iframe {width:100%;}
}
}
</style>
<div class="full-width">
<div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/a4e2cq07gyY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
<div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/Lj2hggTWLvw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
</div>
